@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your application's CSS file */

svg {
    transition: color 0.2s ease;
}

svg:hover {
    color: yellow;
}

[x-cloak] {
    display: none !important;
}

.input {
    @apply p-2 text-sm border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-indigo-100 focus:border-indigo-500;
}